.container{
    margin: auto;
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  margin-top: 15%;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.centerContainer{
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}


 .kakao {
  cursor: pointer;
  transition: all 0.3s ease;
}

 .kakao:hover{
  opacity: 70%;
}