.App {
  text-align: center;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ebebeb;
}

header {
  background-color: #db0000;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 20px;

}

h1 {
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.yellow-navigator {
  background-color: #d8d839;
  color: #FFFFFF;
  padding: 10px;
}

.page-header {
  text-align: center;
  padding: 20px 0;
}

.Sidebar {
  height: 100vh;
  background-color: #f8b9b9;
}

.logo {
  max-width: 200px;
  max-height: 100px;
}

.page-body {
  padding: 20px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-style {
  max-width: 200px;
  max-height: '10px';
}

.hover-box {
  display: flex;
  padding: 0 5px 0 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; /* 기본적으로 투명한 보더 */
  border-radius: 1ch;
  transition: background-color 0.3s ease; /* 보더 변경 시 애니메이션 */
}

/* 요소가 호버될 때 보더 스타일 변경 */
.hover-box:hover {
  background-color: #F8EBAA;
  padding: 0 5px 0 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Checkbox 스타일 */
/* input 요소를 숨깁니다 */
.custom-checkbox input {
  display: none;
}

/* 사용자 지정 체크박스 스타일 */

/* 기본적으로 체크 상태가 아닐 때 보여줄 SVG는 숨깁니다 */
.checkbox-icon .unchecked {
  display: block;
}

/* 체크 상태가 아닐 때 체크된 SVG는 숨깁니다 */
.checkbox-icon .checked {
  display: none;
}

/* 체크 상태일 때, 체크된 SVG를 보여줍니다 */
input:checked + .checkbox-icon .checked {
  display: block;
}

/* 체크 상태일 때, 체크되지 않은 SVG를 숨깁니다 */
input:checked + .checkbox-icon .unchecked {
  display: none;
}


.textarea-auto-resize {
  width: 100%;  /* Take full width of the container */
  resize: none;  /* Disable manual resizing by the user */
  overflow: hidden;  /* Hide the overflow to allow smooth height expansion */
  border: 1px solid #ccc;  /* Optional: border to look like input */
  font-size: 16px;  /* Font size */
}

/* columns container */
.columns {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

/* Default column style for larger screens */
.column {
  flex: 1 1 33%; /* Adjust for 3 columns */
  padding: 10px; /* Adjust as needed */
  box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .columns {
    flex-wrap: wrap;
  }
  .column {
    flex-basis: 100%;
  }
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  top: 55%;
  right: 12%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px 15px;
  border-radius: 5px;
}

.dropdown-item {
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.dots {
  cursor: pointer;
  opacity: 25%;
}

.dots:hover {
  opacity: 100%;
}